/*MAIN PAGE*/

body {
    background-color: #d6e6f2;
    
}


a{
  text-decoration: none;
  color:#769fcd;
}


#container {
    background-color: #f7fbfc;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.my-logo img{
  position: absolute;
  margin-top: 10px;
  margin-left: 60px;
  width: 70px;
}

#nav {
  background-color: #769fcd;
  font-family: 'K2D', sans-serif;
  font-size: 17px;
  font-weight: 600;
    
}

ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

li.item {
  display: inline-block;
}

li a, .dropitem {
  display: block;
  color: white;
  text-align: left;
  padding: 20px 45px;
  color: #f7fbfc;
}


li a:hover, .dropdown-menu:hover .dropitem {
  background-color: #6d98c9;
  border-radius: 10px;
}

li.dropdown-menu {
  display: inline-block;
}

.drop-content {
  display: none;
  position: absolute;
  background-color: #769fcd;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.drop-content a {
  color: #f7fbfc;
  padding: 15px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.drop-content a:hover {background-color: #6d98c9;}

.dropdown-menu:hover .drop-content {
  display: block;
}


#content {
  padding: 15px;
  font-family: 'K2D', sans-serif;
  text-align: center;
}


#header{
  text-align: center;
  font-family: 'K2D', sans-serif;
  font-size: 17px;
}


#main {
  text-align: center;
  font-family: 'K2D', sans-serif;
  font-size: 17px;
}


#footer {
    clear: both;
    padding: 10px;
    text-align: right;
    background-color: #a5d4f1;
    color: #f7fbfc;
    font-family: 'K2D', sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.about-ibox {
  background-color: #EEB95D;
  color: #f7fbfc;
  border-radius: 10px;
  height: 150px;
  text-align: center;
  font-size: 25px;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 20px;
}

.about-underline {
  font-size: 30px;
  color: #f7fbfc;
}

.about-underline:hover {
  color: #df9619;
}

.tools-ibox {
  background-color: #BEA0EB;
  color: #f7fbfc;
  border-radius: 10px;
  height: 150px;
  text-align: center;
  font-size: 25px;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 20px;
}

.tools-underline {
  font-size: 30px;
  color: #f7fbfc;
}

.tools-underline:hover {
  color: #6d26d8;
}

.projects-ibox {
  background-color: #a5d4f1;
  color: #f7fbfc;
  border-radius: 10px;
  height: 150px;
  text-align: center;
  font-size: 25px;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 20px;
}

.projects-underline {
  font-size: 30px;
  color: #f7fbfc;
}

.projects-underline:hover {
  color: #769fcd;
}

.final-ibox {
  background-color: #F6B0BC;
  color: #f7fbfc;
  border-radius: 10px;
  height: 150px;
  text-align: center;
  font-size: 25px;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 20px;
}

.final-underline {
  font-size: 30px;
  color: #f7fbfc;
}

.final-underline:hover {
  color: #e6576e;
}


/*IMG WIDTH AND HEIGHT SIZES*/
.heightimg-110px {
  height: 110px;
}

.heightimg-200px {
  height: 200px;
}

.heightimg-230px {
  height: 230px;
} 

.heightimg-250px {
  height: 250px;
}

.heightimg-270px {
  height: 270px;
}

.heightimg-300px {
  height: 300px;
}

.heightimg-350px {
  height: 350px;
}

.heightimg-400px {
  height: 400px;
}

.widthimg-700px {
  width: 700px;
}




/*ABOUT PAGE*/

.list-about {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  
}

.item-about {
  display: inline-block;
}

.dropitem-about {
  display: block;
  color: white;
  text-align: left;
  padding: 20px 45px;
  color: #f7fbfc;
}

li a:hover, .dropdown-menu-about:hover .dropitem-about {
  background-color: #6d98c9;
  border-radius: 10px;
}

.dropdown-menu-about {
  display: inline-block;
}

.drop-content-about {
  display: none;
  position: absolute;
  background-color: #769fcd;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.drop-content-about a {
  color: #f7fbfc;
  padding: 15px 16px;
  
  text-decoration: none;
  display: block;
  text-align: center;
}

.drop-content-about a:hover {background-color: #6d98c9;}

.dropdown-menu-about:hover .drop-content-about {
  display: block;
}

section {
    text-align: center;
    font-family: 'K2D', sans-serif;
    font-size: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    padding: 100px;
    color: #acd6f0;
}

.header-about {
  text-align: center;
  font-size: 30px;
  background: #769fcd;
}

.main-about {
  background: #a5d4f1;
  text-align: left;
  
}

.h-about {
  color: #769fcd;
}

.engineering {
  color: #f7fbfc;
  font-size: 80px;
}

.profile {
  height: 300px;
}

.about-curve {
  position: absolute;
  height: 225px;
  width: 100%;
  bottom: 0;
}

.about-curve::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 10% 50%;
  width: 50.3%;
  height: 100%;
  background-color: #769fcd;
  transform: translate(98.7%, 40%);
  z-index: 1;

}

.about-curve::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 10% 50%;
  width: 50.7%;
  height: 100%;
  background-color: #a5d4f1;
  transform: translate(-0.1%, 60%);
  
}

table {
  margin-left: auto;
  margin-right: auto;
  
}

td {
  padding: 50px;
  font-size: 17px;
  color: black;
}

.hobbies {
  list-style-type: square;
}





/*TOOLS PAGE*/

.list-tools {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  
}

.title-tools {
display: inline-block;
padding: 20px 20px;
}

.item-tools {
  display: inline-block;
}

.dropitem-tools {
  display: block;
  color: white;
  text-align: left;
  padding: 20px 45px;
  color: #f7fbfc;
}

li a:hover, .dropdown-menu-tools:hover .dropitem-tools {
  background-color: #6d98c9;
  border-radius: 10px;
}

.dropdown-menu-tools {
  display: inline-block;
}
  
.drop-content-tools {
  display: none;
  position: absolute;
  background-color: #769fcd;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.drop-content-tools a {
  color: #f7fbfc;
  padding: 15px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.drop-content-tools a:hover {background-color: #6d98c9;}

.dropdown-menu-tools:hover .drop-content-tools {
  display: block;
}

#main-tools {
  margin-left: auto;
  margin-right: auto;
  height: 870px;
}

h2, p, h3 {
  font-family:'K2D', sans-serif;
}

div.software-box {
  
  margin: 32px;
  height: 220px;
  border: 4px;
  border-style:solid;
  border-color: #a5d4f1;
  background-color: #a5d4f1;
  float: left;
  width: 260px;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
}

div.software-box:hover {
  
  border: 4px;
  border-style:solid;
  border-color: #b7dcf3;
  background-color: #b7dcf3;
  border-radius: 10px;
}

div.tools-used {
  padding: 10px;
  text-align: center;
  color:#f7fbfc;
  box-sizing: border-box;
}

#vs-extentions {
  margin-left: auto;
  margin-right: auto;
  
}


div.extensions-box {
  margin: 32px;
  border: 4px;
  border-style:solid;
  border-color: #a5d4f1;
  background-color: #a5d4f1;
  float: left;
  width: 260px;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
}

div.extensions-box:hover {
  
  border: 4px;
  border-style:solid;
  border-color: #b7dcf3;
  background-color: #b7dcf3;
  border-radius: 10px;
}

div.extensions-used {
  padding: 10px;
  text-align: center;
  color:#f7fbfc;
}



  

/*PROJECT PAGE*/

.list-project {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  
}


.item-project{
  display: inline-block;
  
}


div.project-box {
  margin: 10px;
  border: 4px;
  border-style:solid;
  border-color: #a5d4f1;
  background-color: #a5d4f1;
  float: left;
  width: 300px;
  height: 320px;;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
}

div.project-box:hover {
  border: 4px;
  border-style:solid;
  border-color: #b7dcf3;
  background-color: #b7dcf3;
  border-radius: 10px;
  box-sizing: border-box;
}


div.project-box img {
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 10px 10px;
  box-sizing: border-box;
  
}

.project-box {
  width: 600px;
  height: 150px;
}

div.project-des {
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
  color: #f7fbfc;
}
.project-title {
  color: #f7fbfc;
  text-align: center;
}




/*FABLAB SAFETY PAGE*/

.list-safety {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  
  
}

.item-safety {
  display: inline-block;
}

.dropitem-safety {
  display: block;
  color: white;
  text-align: left;
  padding: 20px 45px;
  color: #f7fbfc;
}

li a:hover, .dropdown-menu-safety:hover .dropitem-safety {
  background-color: #6d98c9;
  border-radius: 10px;
}

.dropdown-menu-safety {
  display: inline-block;
}
  
.drop-content-safety {
  display: none;
  position: absolute;
  background-color: #769fcd;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.drop-content-safety a {
  color: #f7fbfc;
  padding: 15px 16px;
  
  text-decoration: none;
  display: block;
  text-align: center;
}

.drop-content-safety a:hover {background-color: #6d98c9;}

.dropdown-menu-safety:hover .drop-content-safety {
  display: block;
}

#main-safety {
  text-align: left;
  font-size: 17px;
  font-family: 'K2D', sans-serif;
}

.safety-content {
  display: grid;
  grid-template-columns: auto auto ;
  column-gap: 2px;
  padding: 10px;
}

.safety-content > div {
  
  text-align: center;
  padding: 20px ;
}

h4, ul {
  text-align: left;
}
span {
  color: red;
}




/*WEBSITE DEVELOPMENT PAGE*/
.list-website {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  
  
}

.item-website {
  display: inline-block;
}

.dropitem-website {
  display: block;
  color: white;
  text-align: left;
  padding: 20px 45px;
  color: #f7fbfc;
}

li a:hover, .dropdown-menu-website:hover .dropitem-website {
  background-color: #6d98c9;
  border-radius: 10px;
}

.dropdown-menu-website {
  display: inline-block;
}
  
.drop-content-website {
  display: none;
  position: absolute;
  background-color: #769fcd;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.drop-content-website a {
  color: #f7fbfc;
  padding: 15px 16px;
  
  text-decoration: none;
  display: block;
  text-align: center;
}

.drop-content-website a:hover {background-color: #6d98c9;}

.dropdown-menu-website:hover .drop-content-website {
  display: block;
}

#main-website {
  text-align: left;
  font-size: 17px;
  font-family: 'K2D', sans-serif;
}

.website-content {
  display: grid;
  grid-template-columns: auto auto ;
  column-gap: 2px;
  padding: 10px;
}

.website-content > div {
  
  text-align: center;
  padding: 20px ;
}







/*GITHUB PAGE*/

.list-git {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  
}

.item-git {
  display: inline-block;
}

.dropitem-git {
  display: block;
  color: white;
  text-align: left;
  padding: 20px 45px;
  color: #f7fbfc;
}

li a:hover, .dropdown-menu-git:hover .dropitem-git {
  background-color: #6d98c9;
  border-radius: 10px;
}

.dropdown-menu-git {
  display: inline-block;
}
  
.drop-content-git {
  display: none;
  position: absolute;
  background-color: #769fcd;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.drop-content-git a {
  color: #f7fbfc;
  padding: 15px 16px;
  
  text-decoration: none;
  display: block;
  text-align: center;
}

.drop-content-git a:hover {background-color: #6d98c9;}

.dropdown-menu-git:hover .drop-content-git {
  display: block;
}

#main-gitHub {
  text-align: left;
  font-size: 17px;
  font-family: 'K2D', sans-serif;
}



/*3D MODEL PAGE*/
.list-chess {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  
}

.item-chess {
  display: inline-block;
}

.dropitem-chess {
  display: block;
  color: white;
  text-align: left;
  padding: 20px 45px;
  color: #f7fbfc;
}

li a:hover, .dropdown-menu-chess:hover .dropitem-chess {
  background-color: #6d98c9;
  border-radius: 10px;
}

.dropdown-menu-chess {
  display: inline-block;
}
  
.drop-content-chess {
  display: none;
  position: absolute;
  background-color: #769fcd;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.drop-content-chess a {
  color: #f7fbfc;
  padding: 15px 16px;
  
  text-decoration: none;
  display: block;
  text-align: center;
}

.drop-content-chess a:hover {background-color: #6d98c9;}

.dropdown-menu-chess:hover .drop-content-chess {
  display: block;
}

#main-models {
  text-align: left;
  font-size: 17px;
  font-family: 'K2D', sans-serif;
  
}

.knight-content {
  display: grid;
  grid-template-columns: auto auto ;
  column-gap: 2px;
  padding: 10px;
}

.knight-content > div {
  
  text-align: center;
  padding: 20px ;

}


#steps {
  background-color: #f7fbfc;
  display: block;  
  margin-left: auto;  
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.lego-content {
  display: grid;
  grid-template-columns: auto auto ;
  column-gap: 2px;
  padding: 10px;
}

.lego-content > div {
  
  text-align: center;
  padding: 20px ;
}

.nut-content {
  display: grid;
  grid-template-columns: auto auto ;
  column-gap: 2px;
  padding: 10px;
}

.nut-content > div {
  
  text-align: center;
  padding: 20px ;
}

.keychain-content {
  display: grid;
  grid-template-columns: auto auto ;
  column-gap: 2px;
  padding: 10px;
}

.keychain-content > div {
  
  text-align: center;
  padding: 20px;
}

#main-keychain ul{
  text-align: left;
}




/*3D INDIVIDUAL ASSIGNMENT PAGE*/
.list-3dAssign {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  
  
}

.item-3dAssign {
  display: inline-block;
}

.dropitem-3dAssign {
  display: block;
  color: white;
  text-align: left;
  padding: 20px 45px;
  color: #f7fbfc;
}

li a:hover, .dropdown-menu-3dAssign:hover .dropitem-3dAssign {
  background-color: #6d98c9;
  border-radius: 10px;
}

.dropdown-menu-3dAssign {
  display: inline-block;
}
  
.drop-content-3dAssign {
  display: none;
  position: absolute;
  background-color: #769fcd;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.drop-content-3dAssign a {
  color: #f7fbfc;
  padding: 15px 16px;
  
  text-decoration: none;
  display: block;
  text-align: center;
}

.drop-content-3dAssign a:hover {background-color: #6d98c9;}

.dropdown-menu-3dAssign:hover .drop-content-3dAssign {
  display: block;
}

#main-3dAssign {
  text-align: left;
  font-size: 17px;
  font-family: 'K2D', sans-serif;
}



/*GIMP*/
.list-raster {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  
}

.item-raster {
  display: inline-block;
}

.dropitem-raster {
  display: block;
  color: white;
  text-align: left;
  padding: 20px 45px;
  color: #f7fbfc;
}

li a:hover, .dropdown-menu-raster:hover .dropitem-raster {
  background-color: #6d98c9;
  border-radius: 10px;
}

.dropdown-menu-raster {
  display: inline-block;
}
  
.drop-content-raster {
  display: none;
  position: absolute;
  background-color: #769fcd;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.drop-content-raster a {
  color: #f7fbfc;
  padding: 15px 16px;
  
  text-decoration: none;
  display: block;
  text-align: center;
}

.drop-content-raster a:hover {background-color: #6d98c9;}

.dropdown-menu-raster:hover .drop-content-raster {
  display: block;
}

#main-raster {
  text-align: left;
  font-size: 17px;
  font-family: 'K2D', sans-serif;
}

.raster-content {
  display: grid;
  grid-template-columns: auto auto ;
  column-gap: 2px;
  padding: 10px;
}

.raster-content > div {
  
  text-align: center;
  padding: 20px ;
}



/*INKSCAPE*/
.list-vector {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  
}


.item-vector {
  display: inline-block;
}

.dropitem-vector {
  display: block;
  color: white;
  text-align: left;
  padding: 20px 45px;
  color: #f7fbfc;
}

li a:hover, .dropdown-menu-vector:hover .dropitem-vector {
  background-color: #6d98c9;
  border-radius: 10px;
}

.dropdown-menu-vector {
  display: inline-block;
}
  
.drop-content-vector {
  display: none;
  position: absolute;
  background-color: #769fcd;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.drop-content-vector a {
  color: #f7fbfc;
  padding: 15px 16px;
  
  text-decoration: none;
  display: block;
  text-align: center;
}

.drop-content-vector a:hover {background-color: #6d98c9;}

.dropdown-menu-vector:hover .drop-content-vector {
  display: block;
}

#main-vector {
  text-align: left;
  font-size: 17px;
  font-family: 'K2D', sans-serif;
}

.vector-content {
  display: grid;
  grid-template-columns: auto auto ;
  column-gap: 2px;
  padding: 10px;
}

.vector-content > div {
  
  text-align: center;
  padding: 20px ;
 
}

.tab-image img {
  width: 300px;
  height: 600px;
}




/*LASER CUTTING PAGE*/
.list-laser {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  
}

.item-laser {
  display: inline-block;
}

.dropitem-laser {
  display: block;
  color: white;
  text-align: left;
  padding: 20px 45px;
  color: #f7fbfc;
}

li a:hover, .dropdown-menu-laser:hover .dropitem-laser {
  background-color: #6d98c9;
  border-radius: 10px;
}

.dropdown-menu-laser {
  display: inline-block;
}
  
.drop-content-laser {
  display: none;
  position: absolute;
  background-color: #769fcd;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.drop-content-laser a {
  color: #f7fbfc;
  padding: 15px 16px;
  
  text-decoration: none;
  display: block;
  text-align: center;
}

.drop-content-laser a:hover {background-color: #6d98c9;}

.dropdown-menu-laser:hover .drop-content-laser {
  display: block;
}

#main-laser {
  text-align: left;
  font-size: 17px;
  font-family: 'K2D', sans-serif;
}


/*ELECTRONICS & ARDUINO PAGE*/
.list-timer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  
}

.item-timer {
  display: inline-block;
}

.dropitem-timer {
  display: block;
  color: white;
  text-align: left;
  padding: 20px 45px;
  color: #f7fbfc;
}

li a:hover, .dropdown-menu-timer:hover .dropitem-timer {
  background-color: #6d98c9;
  border-radius: 10px;
}

.dropdown-menu-timer {
  display: inline-block;
}
  
.drop-content-timer {
  display: none;
  position: absolute;
  background-color: #769fcd;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.drop-content-timer a {
  color: #f7fbfc;
  padding: 15px 16px;
  
  text-decoration: none;
  display: block;
  text-align: center;
}

.drop-content-timer a:hover {background-color: #6d98c9;}

.dropdown-menu-timer:hover .drop-content-timer {
  display: block;
}

#main-timer {
  text-align: left;
  font-size: 17px;
  font-family: 'K2D', sans-serif;
}

.timer-link:link {
  text-decoration:underline;
}

.timer-components-list {
  display: grid;
  grid-template-columns: auto auto ;
  column-gap: 2px;
  padding: 10px;
}

.timer-components-list > div {
  
  text-align: center;
  padding: 10px ;
}



/*FINAL PROJECT PAGE*/
.list-final {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  
}

.item-final {
  display: inline-block;
}

.dropitem-final {
  display: block;
  color: white;
  text-align: left;
  padding: 20px 45px;
  color: #f7fbfc;
}

li a:hover, .dropdown-menu-final:hover .dropitem-final {
  background-color: #6d98c9;
  border-radius: 10px;
}

.dropdown-menu-final {
  display: inline-block;
}
  
.drop-content-final {
  display: none;
  position: absolute;
  background-color: #769fcd;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.drop-content-final a {
  color: #f7fbfc;
  padding: 15px 16px;
  
  text-decoration: none;
  display: block;
  text-align: center;
}

.drop-content-final a:hover {background-color: #6d98c9;}

.dropdown-menu-final:hover .drop-content-final {
  display: block;
}

#nav-for-main {
  width: 200px;
  float: left;
  font-size: 20px;
  position: fixed;
  padding-top: 20px;
  font-weight: 600;
}

#nav-for-main a:hover {color: #a5d4f1;}

#header-final {
  width: 790px;
  float: right;
  text-align: center;
  font-family: 'K2D', sans-serif;
  font-size: 17px;
}

#main-final {
  width: 790px;
  float: right;
  text-align: left;
  font-family: 'K2D', sans-serif;
  font-size: 17px;
}

table {
  width: 100%;
  
}

td, th {
  text-align: left;
  padding: 8px;
  border: 1px solid white;
  border-collapse: collapse;
  background-color:#b7dcf3;
}

tr {
  height: 5px;
}

.idea-content {
  display: grid;
  grid-template-columns: auto auto ;
  column-gap: 2px;
  padding: 10px;
}

.idea-content > div {
  
  text-align: center;
  padding: 20px ;
}

