/*MAIN PAGE*/

body {
    background-color: #d6e6f2;
    
}

a{
  text-decoration: none;
  color:black;
}


#container {
    background-color: #f7fbfc;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.my-logo img{
  position: absolute;
  margin-top: 10px;
  margin-left: 60px;
}


#nav {
    background-color: #769fcd;
    font-family: 'K2D', sans-serif;
    font-size: 15px;
    font-weight: 600;
}



ul.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    
  }

 
  
  li.item {
    display: inline-block;
  }
  

  li a, .dropitem {
    display: block;
    color: white;
    text-align: left;
    padding: 20px 60px;
    color: #f7fbfc;
  }

  
  

  li a:hover, .dropdown-menu:hover .dropitem {
    background-color: #6d98c9;
    border-radius: 10px;
  }

  li.dropdown-menu {
    display: inline-block;
  }
  
  .drop-content {
    display: none;
    position: absolute;
    background-color: #769fcd;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0px 0px 10px 10px;
    z-index: 1;
  }
  
  .drop-content a {
    color: #f7fbfc;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .drop-content a:hover {background-color: #6d98c9;}
  
  .dropdown-menu:hover .drop-content {
    display: block;
  }


#content {
    padding: 15px;
    font-family: 'K2D', sans-serif;
    text-align: center;
}


#header{
    
    text-align: center;
    font-family: 'K2D', sans-serif;
    font-size: 15px;
   
}


#main {
  text-align: center;
  font-family: 'K2D', sans-serif;
    font-size: 15px;
}


#footer {
    clear: both;
    padding: 10px;
    text-align: right;
    background-color: #a5d4f1;
    color: #f7fbfc;
    font-family: 'K2D', sans-serif;
    font-size: 15px;
    font-weight: bold;
}




/*ABOUT PAGE*/

ul.list-about {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  
}



li.item-about {
  display: inline-block;
}

li a, .dropitem-about {
  display: block;
  color: white;
  text-align: left;
  padding: 20px 60px;
  color: #f7fbfc;
}

li a:hover, .dropdown-menu-about:hover .dropitem-about {
  background-color: #6d98c9;
  border-radius: 10px;
}

li.dropdown-menu-about {
  display: inline-block;
}

.drop-content-about {
  display: none;
  position: absolute;
  background-color: #769fcd;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.drop-content-about a {
  color: #f7fbfc;
  padding: 15px 16px;
  
  text-decoration: none;
  display: block;
  text-align: center;
}

.drop-content-about a:hover {background-color: #6d98c9;}

.dropdown-menu-about:hover .drop-content-about {
  display: block;
}



section {
    text-align: center;
    font-family: 'K2D', sans-serif;
    font-size: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    padding: 100px;
    color: #acd6f0;
}

.header-about {
  text-align: center;
  font-size: 30px;
  background: #769fcd;
}

.main-about {
  background: #a5d4f1;
  text-align: left;
  
}

.h-about {
  color: #769fcd;
}

.engineering {
  color: #f7fbfc;
  font-size: 80px;
}

.about-curve {
  position: absolute;
  height: 225px;
  width: 100%;
  bottom: 0;
}

.about-curve::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 10% 50%;
  width: 50.3%;
  height: 100%;
  background-color: #769fcd;
  transform: translate(98.7%, 40%);
  z-index: 1;

}

.about-curve::after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 10% 50%;
  width: 50.7%;
  height: 100%;
  background-color: #a5d4f1;
  transform: translate(-0.1%, 60%);
  
}




table {
  margin-left: auto;
  margin-right: auto;
  
}

td {
  padding: 50px;
  font-size: 17px;
  color: black;
}

.hobbies {
  list-style-type: square;
}





/*TOOLS PAGE*/

ul.list-tools {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  
}

li.title-tools {
display: inline-block;
padding: 20px 20px;
}

li.item-tools {
  display: inline-block;
}

li a, .dropitem-tools {
  display: block;
  color: white;
  text-align: left;
  padding: 20px 60px;
  color: #f7fbfc;
}

li a:hover, .dropdown-menu-tools:hover .dropitem-tools {
  background-color: #6d98c9;
  border-radius: 10px;
}

li.dropdown-menu-tools {
  display: inline-block;
}
  
.drop-content-tools {
  display: none;
  position: absolute;
  background-color: #769fcd;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.drop-content-tools a {
  color: #f7fbfc;
  padding: 15px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.drop-content-tools a:hover {background-color: #6d98c9;}

.dropdown-menu-tools:hover .drop-content-tools {
  display: block;
}

#main-tools {
  margin-left: auto;
  margin-right: auto;
}

h2, p, h3 {
  font-family:'K2D', sans-serif;
}

div.software-box {
  margin: 32px;
  border: 4px;
  border-style:solid;
  border-color: #a5d4f1;
  background-color: #a5d4f1;
  float: left;
  width: 260px;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
}

div.software-box:hover {
  
  border: 4px;
  border-style:solid;
  border-color: #b7dcf3;
  background-color: #b7dcf3;
  border-radius: 10px;
}

div.tools-used {
  padding: 10px;
  text-align: center;
  color:#f7fbfc;
  box-sizing: border-box;
}

#vs-extentions {
  margin-left: auto;
  margin-right: auto;
}

div.extensions-box {
  margin: 32px;
  border: 4px;
  border-style:solid;
  border-color: #a5d4f1;
  background-color: #a5d4f1;
  float: left;
  width: 260px;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
}

div.extensions-box:hover {
  
  border: 4px;
  border-style:solid;
  border-color: #b7dcf3;
  background-color: #b7dcf3;
  border-radius: 10px;
}

div.extensions-used {
  padding: 10px;
  text-align: center;
  color:#f7fbfc;
}



  

/*PROJECT PAGE*/

ul.list-project {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  
}


li.item-project{
  display: inline-block;
  
}


div.project-box {
  margin: 10px;
  border: 4px;
  border-style:solid;
  border-color: #a5d4f1;
  background-color: #a5d4f1;
  float: left;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
}

div.project-box:hover {
  border: 4px;
  border-style:solid;
  border-color: #b7dcf3;
  background-color: #b7dcf3;
  border-radius: 10px;
  box-sizing: border-box;
}


div.project-box img {
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  box-sizing: border-box;
}

div.project-des {
  box-sizing: border-box;
  padding: 15px;
  text-align: center;
  color: #f7fbfc;
}
.project-title {
  color: #f7fbfc;
  text-align: center;
}




/*FABLAB SAFETY PAGE*/

ul.list-safety {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  
  
}

li.title-safety {
display: inline-block;
padding: 20px 20px;
}

li.item-safety {
  display: inline-block;
}

li a, .dropitem-safety {
  display: block;
  color: white;
  text-align: left;
  padding: 20px 60px;
  color: #f7fbfc;
}

li a:hover, .dropdown-menu-safety:hover .dropitem-safety {
  background-color: #6d98c9;
  border-radius: 10px;
}

li.dropdown-menu-safety {
  display: inline-block;
}
  
.drop-content-safety {
  display: none;
  position: absolute;
  background-color: #769fcd;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.drop-content-safety a {
  color: #f7fbfc;
  padding: 15px 16px;
  
  text-decoration: none;
  display: block;
  text-align: center;
}

.drop-content-safety a:hover {background-color: #6d98c9;}

.dropdown-menu-safety:hover .drop-content-safety {
  display: block;
}

#main-safety {
  text-align: center;
  font-family: 'K2D', sans-serif;
}

.safety-content {
  display: grid;
  grid-template-columns: auto auto ;
  column-gap: 2px;
  padding: 10px;
}

.safety-content > div {
  
  text-align: center;
  padding: 20px ;
 
}

h4, ul {
  text-align: left;
}
span {
  color: red;
}




/*WEBSITE DEVELOPMENT PAGE*/
ul.list-website {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  
  
}

li.title-website {
display: inline-block;
padding: 20px 20px;
}

li.item-website {
  display: inline-block;
}

li a, .dropitem-website {
  display: block;
  color: white;
  text-align: left;
  padding: 20px 60px;
  color: #f7fbfc;
}

li a:hover, .dropdown-menu-website:hover .dropitem-website {
  background-color: #6d98c9;
  border-radius: 10px;
}

li.dropdown-menu-website {
  display: inline-block;
}
  
.drop-content-website {
  display: none;
  position: absolute;
  background-color: #769fcd;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.drop-content-website a {
  color: #f7fbfc;
  padding: 15px 16px;
  
  text-decoration: none;
  display: block;
  text-align: center;
}

.drop-content-website a:hover {background-color: #6d98c9;}

.dropdown-menu-website:hover .drop-content-website {
  display: block;
}

#main-website {
  text-align: center;
  font-family: 'K2D', sans-serif;
}

.website-content {
  display: grid;
  grid-template-columns: auto auto ;
  column-gap: 2px;
  padding: 10px;
}

.website-content > div {
  
  text-align: center;
  padding: 20px ;
 
}







/*GITHUB PAGE*/

ul.list-git {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  
}

li.title-git {
display: inline-block;
padding: 20px 20px;
}

li.item-git {
  display: inline-block;
}

li a, .dropitem-git {
  display: block;
  color: white;
  text-align: left;
  padding: 20px 60px;
  color: #f7fbfc;
}

li a:hover, .dropdown-menu-git:hover .dropitem-git {
  background-color: #6d98c9;
  border-radius: 10px;
}

li.dropdown-menu-git {
  display: inline-block;
}
  
.drop-content-git {
  display: none;
  position: absolute;
  background-color: #769fcd;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.drop-content-git a {
  color: #f7fbfc;
  padding: 15px 16px;
  
  text-decoration: none;
  display: block;
  text-align: center;
}

.drop-content-git a:hover {background-color: #6d98c9;}

.dropdown-menu-git:hover .drop-content-git {
  display: block;
}

#main-gitHub {
  text-align: center;
  font-family: 'K2D', sans-serif;
}



/*3D MODEL PAGE*/
ul.list-chess {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  
}

li.title-chess {
display: inline-block;
padding: 20px 20px;
}

li.item-chess {
  display: inline-block;
}

li a, .dropitem-chess {
  display: block;
  color: white;
  text-align: left;
  padding: 20px 60px;
  color: #f7fbfc;
}

li a:hover, .dropdown-menu-chess:hover .dropitem-chess {
  background-color: #6d98c9;
  border-radius: 10px;
}

li.dropdown-menu-chess {
  display: inline-block;
}
  
.drop-content-chess {
  display: none;
  position: absolute;
  background-color: #769fcd;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.drop-content-chess a {
  color: #f7fbfc;
  padding: 15px 16px;
  
  text-decoration: none;
  display: block;
  text-align: center;
}

.drop-content-chess a:hover {background-color: #6d98c9;}

.dropdown-menu-chess:hover .drop-content-chess {
  display: block;
}

#main-models {
  text-align: center;
  font-family: 'K2D', sans-serif;
  
}

.knight-content {
  display: grid;
  grid-template-columns: auto auto ;
  column-gap: 2px;
  padding: 10px;
}

.knight-content > div {
  
  text-align: center;
  padding: 20px ;
 
}


#steps {
  background-color: #f7fbfc;
  display: block;  
  margin-left: auto;  
  margin-right: auto;
}

.lego-content {
  display: grid;
  grid-template-columns: auto auto ;
  column-gap: 2px;
  padding: 10px;
}

.lego-content > div {
  
  text-align: center;
  padding: 20px ;
 
}

.nut-content {
  display: grid;
  grid-template-columns: auto auto ;
  column-gap: 2px;
  padding: 10px;
}

.nut-content > div {
  
  text-align: center;
  padding: 20px ;
 
}

.keychain-content {
  display: grid;
  grid-template-columns: auto auto ;
  column-gap: 2px;
  padding: 10px;
}

.keychain-content > div {
  
  text-align: center;
  padding: 20px ;
 
}

#main-keychain ul{
  text-align: center;
}




/*3D INDIVIDUAL ASSIGNMENT PAGE*/
ul.list-3dAssign {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  
  
}

li.title-3dAssign {
display: inline-block;
padding: 20px 20px;
}

li.item-3dAssign {
  display: inline-block;
}

li a, .dropitem-3dAssign {
  display: block;
  color: white;
  text-align: left;
  padding: 20px 60px;
  color: #f7fbfc;
}

li a:hover, .dropdown-menu-3dAssign:hover .dropitem-3dAssign {
  background-color: #6d98c9;
  border-radius: 10px;
}

li.dropdown-menu-3dAssign {
  display: inline-block;
}
  
.drop-content-3dAssign {
  display: none;
  position: absolute;
  background-color: #769fcd;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
}

.drop-content-3dAssign a {
  color: #f7fbfc;
  padding: 15px 16px;
  
  text-decoration: none;
  display: block;
  text-align: center;
}

.drop-content-3dAssign a:hover {background-color: #6d98c9;}

.dropdown-menu-3dAssign:hover .drop-content-3dAssign {
  display: block;
}

#main-3dAssign {
  text-align: center;
  font-family: 'K2D', sans-serif;
}